<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../Vue/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="main">
        <ul>
            <li v-for="dia in semana">
                {{dia.nombre}} : {{ dia.numero }}

            </li>
        <!--    <li v-for="(key,datos) in personas">
                {{ key }} - {{ datos }}
            </li> -->
        </ul>
    </div>
 
 <script src="index.js"></script>   
</body>
</html>