<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../Vue/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <main>
        <candidato v-for="(candidato,index) in candidatos" :key="index" :nombre="candidato.name.first" :correo="candidato.email" :imagen="candidato.picture.thumbnail" :location="candidato.location">

        </candidato>
    </main>

    <template id="candidato-template">
        <blockquote>
            <img :src="imagen" align="right">
            <h1> {{ nombre }} </h1>
            <h2> {{ correo }} </h2>
            <ul>
                <li v-for="(value,key,index) in location">{{ value }}</li>

            </ul>
        </blockquote>
    </template>
    <script src="main.js"></script>
</body>

</html>